# Deep Learning
torch>=2.1
torchvision>=0.16

# TensorBoard
tensorboard>=2.14

# RL environments
gymnasium>=0.29
gymnasium[atari]>=0.29
ale-py>=0.8

# Numerical computing
numpy>=1.24
scipy>=1.10

# Rendering
pyglet>=2.0

# Utilities
cloudpickle>=2.2
